*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header{
    background-color: darkslategrey;
    color: #eeee;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.title{
    font-size: 48px;
    align-self: center;
    margin-left: 48px;
}

.links{
    align-self: flex-end;
    font-size: 24px;
    text-decoration: none;
    color: #eeee;
    padding-right: 32px;
    gap: 12px; 
    display: flex;
}

.links a{
    color: inherit;
    text-decoration: none;
    font-weight: 900;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex: 0 1 auto;
    height: 100%;
    flex-wrap: wrap-reverse;
}

.footer{
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
    background-color: darkslategray;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.copy{
    color: #eeee;
    margin: 12px;;
}


#motm-month{
    display: flex;
    gap: 5px;
}

#player-table{
    display: flex;
    gap: 20px;
}

#main-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    height: 100%;
}

#league-section{
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table{
    border-collapse: separate;
    border-spacing: 25px 2vh;
}

#top-gw{
    grid-area: 1 / 2 /  2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#motm{
    grid-area: 1 / 3 / 3 / 4;
}

#league-race{
    grid-area: 2 / 2 / 3 / 3;
}


