*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#app{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

.header{
    background-color: darkslategrey;
    color: #eeee;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.top-title{
    margin-left: 5%;
    margin-bottom: 0.25%;
}

#league-name{
    font-size: 50px;
}

#league-id-value{
    font-size: 20px;
    font-style: italic;
}

#league-id-form{
    align-self: flex-end;
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 5px;
    align-content: center;
}

#league-id-title{
    font-size: 25px;
}

button{
    padding: 5px;
    height: auto;
}

.links{
    align-self: flex-end;
    font-size: 24px;
    text-decoration: none;
    color: #eeee;
    padding-right: 32px;
    gap: 12px; 
    display: flex;
}

.links a{
    color: inherit;
    text-decoration: none;
    font-weight: 900;
}

#center-body{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 100%;
}

#main-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 20px 0px;
    height: 100%;
    border: 1px solid green;
    }

.title{
    font-size: 48px;
    align-self: center;
    text-align: center;
    width: auto;
}

table{
    border-collapse:collapse;   
}

table tr{
    border-bottom: 1px solid black;
}

th, td{
    padding: 0.5vh;
    text-align: center;
    width: auto;
}

#league-section{
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#chips{
    font-size: x-small;
}

#top-gw{
    grid-area: 1 / 2 /  2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tbh{
    padding:25px;
}

#league-race{
    grid-area: 2 / 2 / 3 / 3;
}

.league-graph{
    width: 40vw;
    margin: 5px;
}

#motm{
    grid-area: 1 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#main-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr;
    grid-template-areas: 
    'selection'
    'card';
}

#form-section{
    grid-area: 'selection';
}

#bingo-card{
    grid-area: 'card';
    border: 2px black solid;
    width: 540px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
}

.bingo-row{
    width: 100%;
    display:flex;
}

.bingo-cell{
    
    width: 100%;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.text{
    text-align: center;
    font-size: smaller;
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
    background-color: darkslategray;
}

.copy{
    color: #eeee;
    margin: 12px;;
}


