{% extends "template.html" %}

{% block title %}
<title>Change League</title>
{% endblock %}

{% block script %}
    <script src="static/script.js"></script>
{% endblock %}

{% block header %} 
    <div id="league-name">{{league_name}}</div>
    <div id="league-id-value">(League ID: #{{current_league_id}})</div> 
{% endblock %}


{% block body %}
<div id="changeLgSec">
    <div id="league-id-form">
        <form method="post">
            <label id="league-id-title" for="League ID">League ID</label>
            <div>
            <input type="number" name="League ID" id="league-id" min="1">
            <button type="submit">Change League</button>
            </div>
        </form>
    </div>


<div class="idGuide">
    <div class="guideQ">
        <a class='teamID' onclick="showInstructions();" style="cursor: pointer; cursor: hand;"> How to get your Team ID</a>
    </div>
    <div class="instructions" id="instructions">
        <div class='step'><br><h1>Step 1: Go to the league page</h1>
        <img class="steps" src="../static/instructions/step1.jpg" alt="Initial view of the page once you have logged in."></div>
        <div class='step'><br><h1>Step 2: Find the League ID from the address bar; between leagues/xxxx/standings</h1>
        <img class="steps" src="../static/instructions/step2.png" alt="Points page highlighted."></div>
    </div>
</div>
</div>
{% endblock %} 