{% extends "template.html" %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block header %} 
<div class="league-name-id">
    <div id="league-name">{{league_name}}</div>
    <div id="league-id-value">(League ID: #{{current_league_id}})</div> 
</div>
{% endblock %}

{% block body %}
<div id="main-body">
    <div id="league-section">
        <div class="title">League Table</div>
        <div id="table">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Points</th>
                </tr>
                {% for player in players %}
                    <tr>
                        <td><div>{{player['name']}}</div></td>
                        <td><div>{{player['total_points']}}</div></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="top-gw">
        <div class="title">Highest Scoring Gameweek</div>
        <div class="text">The players with the top scoring gameweek are</div>
        

        <table id="hsg-table" class="table">
            <tr>
                <th>Player Name</th>
                <th>Gameweek</th>
                <th>Points</th>
            </tr>
            {% for index in  range(top_gw_players | length) %}
            <tr>
                <td><div>{{top_gw_players[index]}}</div></td>
                <td><div>{{top_gws[index]}}</div></td>
                {% if index == 0 %}
                    <td id="top-gw-points" rowspan= "0"><div>{{top_gw_points}}</div></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>


    <div id="league-race">
        <div class="title">League Race Graph</div>
        <div class="graph-race"><img class="league-graph" src="../static/plot.png" alt="plot"></div>
    </div>



    <div id="motm">
        <div class="title">Manager of the Month</div>
        <div id="motm-table">
            <table class="table">
                <tr>
                    <th>Month</th>
                    <th>Player</th>
                    <th>Points</th>
                </tr>
                {% for index in range(months | length) %}
                <tr>
                        <td><div>{{months[index]['month_name']}}</div></td>
                        <td>
                            <div id="motm-players"> 
                                {% for player in months[index]['top_scorer'] %}
                                    <div>{{player}}</div>
                                {% endfor %}
                            </div>
                        </td>
                        <td><div>{{months[index]['top_points']}}</div></td>
                    </tr> 
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}